# Aarav Gosalia

In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("../data/raw/dataset_raw.csv")
dataset

C:\Users\aarav\AppData\Local\Temp\ipykernel_10924\3603182538.py:1: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("../data/raw/dataset_raw.csv")

,iso_code,region_group,income_group,country,survey,year,level,grade,category,Sex,...,rlevel3_m,rlevel3_no,slevel3_m,slevel3_no,mlevel4_m,mlevel4_no,rlevel4_m,rlevel4_no,slevel4_m,slevel4_no
0,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212964,NaN,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212965,NaN,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212966,NaN,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212967,NaN,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212968,NaN,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Research question/interests
**In relatively literate countries has there been a change in how important education is?**

Briefly describe your research question or interests here.

I will use the literacy_1524_m column to find locations with medium to high literacy rates and compare the literacy rates of those locations over a specific time period. I will use a line graph with the x-axis being time periods and the y-axis being different locations and use that to analyze whether there has been a change in the mentality of parents/children in their view of the importance of education