# Oluwadabira Omotoso

## How has the gender gap in literacy changed?

Based on the ongoing discussion about equality, I would like to see if there is a gender gap in literacy rates and how that has changed over time. Analysing this also reveals whether or not we are progressing towards equality.

To answer my research question, I plan to use some kind of chart that can show the disparity that existed between men and women over a certain period. Furthermore, I would like to explore the potential disparities in the literacy rate between men and women among the different continents. Additionally, I would calculate the mean when collating the data for men and women for each continent and the years chosen.

Columns I feel would be useful for my data are: region_group, country, year, sex, ethnicity, wealth

**Sub Questions that answer my general research question:**
- Concerning certain regions, which gender is known to have a higher literacy rate?
- Does religion play a role in the literacy rate? Is there a particular gender that is more educated?
- Do economic factors hinder the ability of a certain gender
- What is the effect of economic factors on literacy rate among a particular gender?
- As the level of education rises, has there been a decreased trend of literacy rate for a certain gender?

## Loaded raw dataset

In [1]:
import pandas as pd
data = pd.read_csv("../data/raw/dataset_raw.csv")
data

/var/folders/yd/8dvmmvhs6h17pc2r3tybl1040000gn/T/ipykernel_87495/3441873664.py:2: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/raw/dataset_raw.csv")

,iso_code,region_group,income_group,country,survey,year,level,grade,category,Sex,...,rlevel3_m,rlevel3_no,slevel3_m,slevel3_no,mlevel4_m,mlevel4_no,rlevel4_m,rlevel4_no,slevel4_m,slevel4_no
0,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212964,NaN,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212965,NaN,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212966,NaN,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212967,NaN,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212968,NaN,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Columns in the dataset that I want to do EDA on:

In [15]:
df=data.iloc[:,1:15]
df

,region_group,income_group,country,survey,year,level,grade,category,Sex,Location,Wealth,Region,Ethnicity,Religion
0,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,NaN,NaN,NaN,Baloch,NaN
1,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,NaN,NaN,NaN,Hazara,NaN
2,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,NaN,NaN,NaN,Nuristani,NaN
3,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,NaN,NaN,NaN,Pashai,NaN
4,Central and Southern Asia,Low income countries,Afghanistan,DHS,2015.0,NaN,NaN,Ethnicity,NaN,NaN,NaN,NaN,Pashtun,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212964,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,NaN,Quintile 3,NaN,NaN,NaN
212965,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,NaN,Quintile 4,NaN,NaN,NaN
212966,Northern Africa and Western Asia,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,NaN,Quintile 5,NaN,NaN,NaN
212967,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,NaN,Quintile 1,NaN,NaN,NaN
212968,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,Wealth,NaN,NaN,Quintile 2,NaN,NaN,NaN